In [1]:
import pandas as pd

path_drinks = '/Users/nguyenxuanty/Documents/baitapchuong4/drinks.csv'

drinks = pd.read_csv(path_drinks)
drinks

,Unnamed: 0,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,0,Afghanistan,0,0,0,0.0,AS
1,1,Albania,89,132,54,4.9,EU
2,2,Algeria,25,0,14,0.7,AF
3,3,Andorra,245,138,312,12.4,EU
4,4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...,...
188,188,Venezuela,333,100,3,7.7,SA
189,189,Vietnam,111,2,1,2.0,AS
190,190,Yemen,6,0,0,0.1,AS
191,191,Zambia,32,19,4,2.5,AF
192,192,Zimbabwe,64,18,4,4.7,AF

In [5]:
# kiểu dữ liệu (type) và kích thước (shape) của drink
print('kiểu dữ liệu của drinks là:', drinks.dtypes)
print('kích thước của drinks là:',drinks.shape)

kiểu dữ liệu của drinks là: Unnamed: 0                        int64
country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object
kích thước của drinks là: (193, 7)

In [15]:
# cho biết số lượng bia tiêu thụ trung bình ở mỗi châu lục
mean_beer_serving = drinks.groupby('continent')
result_mean_beer = mean_beer_serving.aggregate({'beer_servings' : 'mean'})
print('số lượng bia tiêu thụ trung bình ở mỗi châu lục:\n',result_mean_beer )

số lượng bia tiêu thụ trung bình ở mỗi châu lục:
            beer_servings
continent
AF             61.471698
AS             37.045455
EU            193.777778
OC             89.687500
SA            175.083333

In [16]:
# thông tin thống kê tổng quát
print('thống kê tổng quát của drinks :\n',drinks.describe)

thống kê tổng quát của drinks :
 <bound method NDFrame.describe of      Unnamed: 0      country  beer_servings  spirit_servings  wine_servings  \
0             0  Afghanistan              0                0              0
1             1      Albania             89              132             54
2             2      Algeria             25                0             14
3             3      Andorra            245              138            312
4             4       Angola            217               57             45
..          ...          ...            ...              ...            ...
188         188    Venezuela            333              100              3
189         189      Vietnam            111                2              1
190         190        Yemen              6                0              0
191         191       Zambia             32               19              4
192         192     Zimbabwe             64               18              4

     total_litres_of_pure_alcohol continent
0                             0.0        AS
1                             4.9        EU
2                             0.7        AF
3                            12.4        EU
4                             5.9        AF
..                            ...       ...
188                           7.7        SA
189                           2.0        AS
190                           0.1        AS
191                           2.5        AF
192                           4.7        AF

[193 rows x 7 columns]>
số lượng rượu vang tiêu thụ trung bình ở mỗi châu lục:
            wine_servings
continent
AF             16.264151
AS              9.068182
EU            142.222222
OC             35.625000
SA             62.416667

In [17]:
# số lượng tiêu thụ rượi vang ở mỗi châu lục
mean_wine_serving = drinks.groupby('continent')
result_mean_wine = mean_wine_serving.aggregate({'wine_servings' : 'mean'})
print('số lượng rượu vang tiêu thụ trung bình ở mỗi châu lục:\n',result_mean_wine )

số lượng rượu vang tiêu thụ trung bình ở mỗi châu lục:
            wine_servings
continent
AF             16.264151
AS              9.068182
EU            142.222222
OC             35.625000
SA             62.416667